<ion-view view-title="Chart">
  <ion-content>

    <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-positive">Back</a>

    <div id="container" style="width:100%; height:400px;"></div>
    <div class="button-bar">
      <a class="button button-positive" ng-click="ShowPain()">Pain</a>
      <a class="button button-positive" ng-click="ShowExtremePain()">Extreme Pain</a>
      <a class="button button-positive" ng-click="ShowActivity()">Physical Activity</a>
      <a class="button button-positive" ng-click="ShowProductivity()">Productivity</a>
      <a class="button button-positive" ng-click="ShowMood()">Mood</a>
    </div>




  </ion-content>
</ion-view>
