<ion-view view-title="Goals">
	<ion-content class="padding" scroll="false">
		<div class="fill-height-or-more">
			<div class="fill-height-or-more list card" style="flex:300">
				<div class="item item-divider">How is your mood?</div>
				<div class="fill-height-or-more item item-body" style="flex:1; margin-left:50%; overflow-x:hidden;">
					<div style="flex:1;">
						<div class="item range range-positive range-vertical" style="border: none;">
							<input type="range" min="0" max="10" step="1" ng-model="values.mood" />
						</div>
					</div>
					<output>{{values.mood}}</output>
				</div>
			</div>
			<div class="button-bar">
				<a href="#/questions/productivity" class="button icon-left ion-chevron-left button-clear button-positive">Back</a>
				<a href="#/" class="button icon-right ion-chevron-right button-positive" ng-click="save()">{{saveButtonText}}</a>
			</div>
		</div>
	</ion-content>
</ion-view>
