<ion-view view-title="External Information">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        IMB - Centre for Pain Research
      </div>
      <div class="item item-text-wrap item-button-right">
       Centre Objectives: Recognise 

      <a href="http://pain.imb.uq.edu.au/" target="_blank" class="button button-positive">
        <i class="icon ion-android-arrow-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Chronic Pain Australia
      </div>
      <div class="item item-text-wrap item-button-right">
       If you live with pain we can help you

      <a href="http://www.chronicpainaustralia.org.au/" target="_blank" class="button button-positive">
        <i class="icon ion-android-arrow-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Pain Australia
      </div>
      <div class="item item-text-wrap item-button-right">
       Chronic Pain – Australia's Hidden Health Problem

      <a href="http://www.painaustralia.org.au/" target="_blank" class="button button-positive">
        <i class="icon ion-android-arrow-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Australian Pain Management Association
      </div>
      <div class="item item-text-wrap item-button-right">
       We're all in this together

      <a href="http://www.painmanagement.org.au/" target="_blank" class="button button-positive">
        <i class="icon ion-android-arrow-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Chronic Pain Meetups in Brisbane
      </div>
      <div class="item item-text-wrap item-button-right">
       Get up and get going again with encouragement and support from others living with pain.

      <a href="http://chronicpain.meetup.com/cities/au/brisbane/" target="_blank" class="button button-positive">
        <i class="icon ion-android-arrow-forward" align="right"></i>
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>